.base-btn {
  --background-color: var(--grey-100);
  --color: var(--grey-900);
  --font-weight: 400;
  --font-size: 1.3rem;
  --padding: 0.5rem 1.6rem;
  --border-color: transparent;
  --border-radius: 0.5rem;

  border: 0.1rem solid var(--border-color);
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
  user-select: none;

  color: var(--color);
  background-color: var(--background-color);

  font-size: var(--font-size);
  font-weight: var(--font-weight);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  min-width: max-content;
  width: max-content;
  padding: var(--padding);
  border-radius: var(--border-radius);

  transition: all 0.15s ease-in-out;

  &:hover:not(:disabled),
  &:focus:not(:disabled),
  &:active:not(:disabled) {
    background-color: color-mix(in srgb, var(--background-color), #000 7%);
  }

  &:focus {
    @include focus-element($type: none);
  }

  &:disabled,
  &[aria-disabled] {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &:has(.loading-icon) {
    @keyframes spinner-loading {
      0% {
        rotate: 0deg;
      }
      100% {
        rotate: 360deg;
      }
    }

    .loading-icon {
      height: 1.5rem;
      width: 1.5rem;
      animation: spinner-loading 0.5s infinite linear;
    }
  }

  &--circle {
    --padding: 0.5rem;
    height: max-content;
    width: max-content;
  }

  &--primary {
    --background-color: var(--cc-blue-500);
    --color: var(--color-white);
  }

  &--text {
    --background-color: transparent;
    --color: var(--cc-blue-500);
    --font-weight: 500;
    --padding: 0rem;

    &:hover:not(:disabled),
    &:focus:not(:disabled),
    &:active:not(:disabled) {
      background-color: var(--background-color);
      color: color-mix(in srgb, var(--color), #000 20%);
    }

    &:focus {
      box-shadow: none !important;
    }
  }

  &--action {
    --color: var(--grey-400);
    --background-color: transparent;
    --border-color: transparent;
    --padding: 0.5rem;
    --border-radius: 5rem;

    &:hover:not(:disabled),
    &:focus:not(:disabled),
    &:active:not(:disabled) {
      color: var(--grey-700);
    }

    &:focus {
      box-shadow: none !important;
    }

    &:disabled,
    &[aria-disabled] {
      background-color: $grey-100;
    }
  }
}
